@font-face {
    font-family: 'Italianno';
    src: url(../fonts/Italianno-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url('../img/backroundPasta.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: black;
    opacity: 0.8;
    color:white;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Italianno';
    font-size: 5em;
}

.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.selectedButton {
    color:white;   
}

.header nav button {
    border: 0px;
    border-radius: 40px;
    padding: 10px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 200;
    font-size: 1.2em;
    background-color: black;
    color:rgb(191, 191, 191);
}

.header nav button:hover {
    color:white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 100;
    color:white;
    background-color: black;
    opacity: 0.8;
    height: 30em;
    width: 30em;
    margin:3em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    font-family: 'Poppins', 'sans-serif';
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
}
